nav {
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  background: linear-gradient(180deg, var(--bg0) 0%, var(--bg1) 100%);
  color: var(--fg0);
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.nav-buttons-wrapper {
  display: flex;
  column-gap: 0.5rem;
}

nav button {
  padding: 0.5rem;
  cursor: pointer;
  background: linear-gradient(90deg, #BB86FC 0%, #9A67EA 100%);
  color: #000000;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
