.trip-page-container {
  background-color: var(--bg0);
  color: var(--fg0);
  min-height: 100vh;
  padding: 6rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-text {
  color: gray;
  font-style: italic;
}

.trip-content-container {
  display: flex;
  flex-direction: column;
  min-width: 60rem;
  max-width: 60rem;
  row-gap: 1rem;
}

.trip-content-container h1 {
  font-size: 4rem;
  /* align-self: center; */
}

.trip-content-container h1 span {
  padding-right: 0.5rem;
}

.trip-content-container h1 svg {
  cursor: pointer;
}

.trip-actions {
  padding-bottom: 1rem;
}

.trip-id {
  padding-bottom: 0.5rem;
}

/* .trip-actions button { */
/*   padding: 0.5rem 1rem; */
/*   border-radius: 0.5rem; */
/* } */

.add-transaction-btn {
  margin-top: 1rem;
  background-color: #3E5F42;
  color: #E1E1E1;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  border: 1px solid #5c8768;
}

.add-transaction-btn:hover {
  opacity: 0.85;
}

.trip-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trip-section-container h2 {
  padding-bottom: 1rem;
}

.trip-transaction {
  border: white 1px solid;
  border-radius: 1rem;
  padding: 1rem;
}

.trip-transactions-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
